<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link th:href="@{/style.css}" rel="stylesheet" type="text/css">
<title>ほめるページ</title>
</head>
<body>
	<h1>ほめるページ TOP</h1>
	<form th:object="${echoForm}" th:action="@{/echo}" method="POST">
		<div>名前を入れてください</div>
		<div>
			<input type="text" th:field="*{name}" />
			<button>送信します</button>
		</div>
		<span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" style="color: red"></span>
	</form>

</body>
</html>